.photo-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);;
  grid-gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 800px) and (max-width: 1050px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 14px;
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 288px;
    grid-gap: 12px;
  }
}
