.photo-grid__item {
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 1050px) {
    .photo-grid__item {
        width: 300px;
        height: 225px;
    }
}

@media screen and (max-width: 800px) {
    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
}