.header {
    padding-top: 28px;
    width: 90vw;
    max-width: 1184px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media screen and (max-width: 425px) {
    .header {
        padding-top: 16px;
    }
}