.header__link-en {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}

.header__link-en:hover {
    opacity: 80%;
}

@media screen and (max-width: 425px) {
    .header__link-en {
        font-size: 18px;
        line-height: 20px;
    }
}