.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(460px, 1fr));
    gap: 48px 40px;
    padding-bottom: 80px;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .place {
        grid-template-columns: repeat(2, minmax(440px, 1fr));
        gap: 48px 32px;
        padding-bottom: 84px;
    }
  }

@media screen and (max-width: 950px) {
    .place {
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        gap: 48px 28px;
        padding-bottom: 72px;
    }
  }

  @media screen and (max-width: 767px) {
    .place {
      display: flex;
      flex-direction: column;
      padding-bottom: 48px;
    }
  }

.place:last-child {
    padding-bottom: 0;
}

